{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}


<div class="profile col-12 col-sm-4 push-sm-8 text-center">
  <img src="{{ author.avatar }}" class="rounded img-fluid">
  <!--
  <div class="contact-links">
    <div class="email">{{ author.email }}</div>
    <div class="social-links">
      <a href="https://www.facebook.com/{{ author.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a> 
      <a href="https://twitter.com/{{ author.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
      <a href="https://github.com/{{ author.github }}"><i class="fa fa-github" aria-hidden="true"></i></a> 
      <a href="https://berkeley.academia.edu/JacksonKernion"><i class="ai ai-academia"></i></a> 
      <a href="https://www.researchgate.net/profile/Jackson_Kernion"><i class="ai ai-researchgate"></i></a> 
      <a href="https://philpapers.org/profile/102304"><i class="ai ai-philpapers"></i></a> 
    </div>
  </div>
-->
</div>