<nav class="navbar navbar-toggleable container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
    </button>

    <a class="navbar-brand" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {% for link in site.data.navigation %}
          {% if link.url contains 'http' %}
            {% assign domain = '' %}
          {% else %}
            {% assign domain = site.url | append: site.baseurl %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link {% if page.title == link.title %} active {% endif %}" href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
</nav>

<div class="container">
  <div class="navbar-border"></div>
</div>