/* Basics */
body{
	font-family: "Source Sans Pro", sans-serif;
	line-height: 1.3;
	background-color: #F8F7F5;

	/* For always-on-bottom footer */
	padding-bottom: 6rem;
	min-height: 100%;
	position: relative;
}


h1{
	font-size: 18pt;
	font-weight: 600;
	padding-bottom: 0px;
	margin-top: 3rem;
	margin-bottom: 1rem;
} 

/*
h1{
text-transform: uppercase;
	letter-spacing: 0.12em;
	font-weight: 600;
	font-size: 12pt;
	color: black;
	margin-top: 3rem;
	margin-bottom: 1rem;
} */

.main h1:first-child{
	margin-top:0;
}


h2{
	font-size: 16pt;
	font-weight: 400;
	color: #414040;
	margin-bottom: 15px;
	margin-top: 20px;
}
h3{
	font-size: 15px;
	margin-top: 30px;
	font-weight: 700;
	letter-spacing: 0.16em;
	color: #8A8888;
	text-transform: uppercase;
}
h5{
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.16em;
	text-transform: uppercase;
}

p{
	font-size: 12pt;
	color: #7F7E7D;
	line-height: 1.35;
}

/* Option 1 */

.main a{
	color: #7F7E7D;
	text-decoration: underline;
}

.main a:hover {
	color: black;
	text-decoration: underline;
}

.main p a:hover {
	color: black;
}

.main p.item-title a{
	color: black;
	text-decoration: none;
	border-bottom: 1.5px solid #eae8e8;
}
.main p.item-title a:hover{
	border-bottom: 1px solid black;
}


/* Option 2 */

/*
.main a{
	color: #7F7E7D;
	text-decoration: none;
}

.main a:hover {
	color: black;
	text-decoration: none;
}

.main p a {
	color: #7F7E7D;
	border-bottom: 1px solid #999;
	padding-bottom:0;
}

.main p a:hover {
	color: black;
	border-color: black;
}

.main p.item-title a{
	color: black;
}
 */




.container{
	max-width:660px;
}


.navbar{
	/* background-color: #f8f8f8; */
	/* margin-top: 10px; */
	/* got rid of padding to allow for border */
	padding-bottom: 0;

}

.navbar-border{
	border-bottom: 1.5px solid #eae8e8;
	width: 100%;
}

a.navbar-brand{
  padding-left: 0;
  left:0;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: black;
}

a.nav-link{
	text-transform: uppercase;
	letter-spacing: 0.12em;
	font-weight: 600;
	color:#7F7F7F;
	font-size: 10pt;
}

a.nav-link:hover{
	color:black;
}

.nav-link.active{
	color:black;
}

.footer{
	width:100%;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding-top: 1rem;
	border-top: 1.5px solid #eae8e8;
	margin-left: auto;
	margin-right: auto;
}

.footer p{
	color: #bbb;
}

.footer a{
	color: #bbb;
	text-decoration: underline;
}

.footer a:hover{
	color: #7F7F7F;
}

.explainer-text{
	font-weight: 300;
	font-size: 20px;
}

.card {
	margin-bottom: 1rem;
}

/* Default Page Elements */

.about-container{
	color: #7F7F7F;
	margin-bottom: 0;
	margin:50px 0 30px;
}

.profile{
	
}
.profile img{
	max-height:180px;
	filter: grayscale(15%) sepia(10%) brightness(1.13);
}

.short-bio{
	padding-left:0px;
}

.short-bio p{

}

.email{
	/* font-family: "Inconsolata", monospace; */
	font-size: 11pt;
	padding: 15px 0 10px;
}

.social-links{
	font-size: 13pt;
	padding-bottom:20px;
}

.social-links a{
	padding: 0 4pt;
	border-bottom: none;
}

.main {
	margin-top: 30px;
}

.page-description {
	color: #7F7D7D;
	font-size: 18pt;
	font-weight: 400;
	padding-bottom: 10px;
	margin-bottom: 20px;
	line-height: 1.3;
}

.page-divider {
	width:150px;
	border-bottom: 1.5px solid #ddd;
	margin:35px auto 45px;

}

.item-title {
	font-weight: 600;
	color: black;
	margin-bottom: .3rem;
	margin-top: .5rem;
}

.row .item-title{
	margin-top: 0;
}

.item-description{
	margin-bottom: .3rem;
}

.item-title a{
	color: black;
}

.item-details{
	color: #7F7E7D !important;
	font-weight: 400;
}

.subtitle {
	font-weight: 400;
}

p.little-links{
	text-transform: uppercase;
	letter-spacing: 0.12em;
	font-weight: 600;
	font-size: 9pt;
	color: #7F7E7D;
	margin-top: 8px;
}

p.little-links a{
 	display: inline-block;
  	position: relative;
  	text-decoration: none;
  	border-bottom: ;
	padding-bottom: 2px;
	color: #7F7E7D;
	border-style:none;
}

p.little-links a:hover{
	text-decoration: none;
	color: black;
}

/*


.little-links a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1.5px solid #7F7D7D;
  margin-top: 7px;
}

.little-links a:hover::after {

  border-color: black;
}
*/

.talk-venue{
	text-transform: uppercase;
	color:black;
	letter-spacing: 0.12em;
	font-size: 9pt;
	font-weight: 600;
}

.talk-date{
	text-transform: uppercase; 
	color:#7F7F7F;
	letter-spacing: 0.12em;
	font-size: 9pt;
	font-weight: 600;
	padding-right: 0;
	max-width:60px;
}

.talk-title{
	font-size: 11pt;
}

.tools-img{
	max-height:200px;
	border: 1px solid #eee;
}







