/* Basics */
body{
	font-family: "Source Sans Pro";
	line-height: 1.3;
	background-color: #F8F7F5;
}

h1{
	font-size: 20pt;
	font-weight: 600;
	padding-bottom: 0px;

}
h2{
	font-size: 18pt;
	font-weight: 400;
	color: #414040;
	margin-bottom: 15px;
	padding-top: 20px;
}
h3{
	font-size: 15px;
	margin-top: 30px;
	font-weight: 700;
	letter-spacing: 0.16em;
	color: #8A8888;
	text-transform: uppercase;
}
h5{
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.16em;
	text-transform: uppercase;
}


p{
	font-size: 12pt;
	color: #7F7D7D;
	line-height: 1.4;
}

a{
	color: #7F7D7D;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: black;
}

.container{
	max-width:720px;
}


.navbar{
	/* background-color: #f8f8f8; */
	/* margin-top: 10px; */
	/* got rid of padding to allow for border */
	padding-bottom: 0;

}

.navbar-border{
	border-bottom: 1.5px solid #eae8e8;
	width: 100%;
}

a.navbar-brand{
  padding-left: 0;
  left:0;
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  color: black;
}

a.nav-link{
	text-transform: uppercase;
	letter-spacing: 0.12em;
	font-weight: 600;
	color:#7F7F7F;
	font-size: 10pt;
}

a.nav-link:hover{
	color:black;
}

.nav-link.active{
	color:black;
	letter-spacing: 0.10em;
}

.explainer-text{
	font-weight: 300;
	font-size: 20px;
}

.card {
	margin-bottom: 1rem;
}

/* Deafault Page Elements */

.about-container{
	color: #7F7F7F;
	margin-bottom: 0;
	margin:50px 0 30px;
}

.profile{
	padding-top: 8px;
}
.profile img{
	max-height:180px;
	filter: grayscale(15%) sepia(10%) brightness(1.13);
}

.short-bio{
	padding-left:0px;
}

.short-bio p{
	font-size: 18pt;
	color: #7F7D7D;
	font-weight: 400;
	line-height: 1.3;
}

.short-bio p:last-child{
	margin-bottom: 0;
}

.email{
	font-size: 11pt;
	padding: 15px 0 10px;
}

.social-links{
	font-size: 15pt;
	padding-bottom:20px;
}

.social-links a{
	padding: 0 10pt;
	border-bottom: none;
}

.main {
	margin-top: 30px;
}

.page-description {
	color: #7F7D7D;
	font-size: 18pt;
	font-weight: 400;
	padding-bottom: 20px;
	margin-bottom: 20px;
	line-height: 1.3;
}

.page-divider {
	width:150px;
	border-bottom: 1.5px solid #ddd;
	margin:30px auto;

}

.item-title {
	font-size: 12pt;
	font-weight: 600;
	color: black;
	margin-bottom: 6px;
	padding-top: 7px;
}

.item-description{
	margin-bottom: 1rem;
}

.paper-subtitle {
	font-weight: 400;
	color: black;
	margin-bottom: 6px;
}

.little-links{
	text-transform: uppercase;
	letter-spacing: 0.12em;
	font-weight: 600;
	font-size: 9pt;
	color: #7F7D7D;
}

/*
.little-links{
	text-transform: uppercase;
	letter-spacing: 0.12em;
	font-weight: 600;
	color:#7F7F7F;
	font-size: 9pt;
	margin-bottom: 19px;
} */

.little-links a{
 	display: inline-block;
  	position: relative;
  	text-decoration: none;
  	border-bottom: ;
	padding-bottom: 2px;

}

.little-links a:hover{
	text-decoration: none;
	border-color: black;
	
}


.little-links a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1.5px solid #7F7D7D;
  margin-top: 7px;
}

.talk-venue{
	text-transform: uppercase;
	color:black;
	letter-spacing: 0.12em;
	font-size: 9pt;
	font-weight: 600;
}

.talk-date{
	text-transform: uppercase; 
	color:#7F7F7F;
	letter-spacing: 0.12em;
	font-size: 9pt;
	font-weight: 600;
	padding-right: 0;
	max-width:60px;
}

.talk-title{
	font-size: 11pt;
}

.tools-img{
	max-height:200px;
	border: 1px solid #eee;
}







